.job
  margin-bottom: 15rem

  &__section
    margin-bottom: 3rem
    padding-left: $section-gutter
    padding-right: $section-gutter

    @media (max-width: $mobile-xs)
      padding-left: $section-gutter-mobile
      padding-right: $section-gutter-mobile
