.block
  position: relative
  display: block
  padding-top: 8rem
  margin-bottom: 8rem
  padding-left: $section-gutter
  padding-right: $section-gutter

  @media (max-width: $mobile-xs)
    padding-left: $section-gutter-mobile
    padding-right: $section-gutter-mobile

  &__content
    padding: 4rem 2.7rem
  
  &.--has-bg-color
    padding-top: 6rem
    padding-bottom: 6rem
    margin-bottom: 0

  &.--hero
    padding-top: 0
  
  &.--block-press-release

  &.--block-text
    margin-bottom: 5rem

    &:not(.--centered)  
      + .--block-text, + .--block-visual-text
        padding-top: 4rem
      
      + .--block-useful-links
        padding-top: 0
      
      + .--block-jobs-listing
        padding-top: 3rem
  
  &.--block-intro
    padding-top: 7rem
    margin-bottom: 5rem

    &.--nocontent
      + .--block-text
        padding-top: 1rem
    
      + .--block-accordion
        padding-top: 0
      
      + .--block-map-box
        padding-top: 0
    
  &.--block-cta-banner
    margin-bottom: 0
  
  &.--block-useful-links
    ul
      li
        &:not(:last-child)
          margin-bottom: 1.4rem
    
    + .--block-useful-links
      padding-top: 0
  
  &.--block-projects-carousel
    background-color: $c-gray-extralight