.footer
  padding: 4rem 1.6rem
  background-color: $c-black
  font-family: $f-alternative
  font-size: 1.4rem
  color: #FFF

  p
    font-size: inherit
  
  &__top
    padding-bottom: 8rem
  
  &__bottom
    padding-top: 2.4rem
    border-top: 1px solid #FFF