.press-releases

.press-release
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-start
  margin-bottom: 5rem

  .cta
    margin-top: 0