.article
  position: relative
  display: flex
  flex: 1
  flex-direction: column
  justify-content: space-between
  align-items: flex-start
  margin-bottom: 5rem

  > div
    width: 100%
    display: block
    position: relative

  &__date
    display: flex
    justify-content: space-between

  &__image
    position: relative
    display: flex
    flex-direction: column
    width: 460px
    height: 346px
    margin-bottom: 3.1rem

    .label
      position: absolute
      bottom: 0
      right: -10px
      background-color: $c-brand
      color: #FFF
      font-size: 1.6rem
      font-family: $f-alternative
      font-weight: 700
      height: 4rem
      display: inline-flex
      align-items: center
      padding: 0 3.2rem

    + .article__datarticle__dat

      h4
        color: $c-gray-dark
        font-family: $f-alternative
        font-size: 1.4rem
        margin-bottom: 1.6rem
        letter-spacing: 0

  .cta
    margin-top: 0

.article-bottom-cta
  margin-bottom: 14rem
  padding-left: $section-gutter
  padding-right: $section-gutter

  @media (max-width: $mobile-xs)
    padding-left: $section-gutter-mobile
    padding-right: $section-gutter-mobile
