.menu-footer

  ul
    position: relative
    display: flex

    li
      position: relative
      font-weight: 700
      color: $c-brand
      font-family: $f-alternative
      line-height: 1.2

      &:not(:first-child)
        margin-left: 6rem
        

      a
        text-decoration: none