.footer-top
  .cta.external-link
    width: 100%
    justify-content: space-between

  .cta.external-link::after
    background-image: url(../../images/ui/external-link.svg)

  .cta--link-simple
    > span:not(.sr-only)
      color: #FFF

    &:not(.is-loading):not(:disabled):hover
      > span:not(.sr-only)
        color: #FFF

  ul
    position: relative
    column-count: 3
    column-gap: 0
    margin-bottom: 1rem

    @media (max-width: $tablet - 1)
      column-count: 2

    @media (max-width: $mobile-xs - 1)
      column-count: 1

    li
      position: relative
      font-weight: 700
      color: #FFF
      font-family: $f-alternative
      line-height: 1.2
      margin-bottom: 2rem
      padding-right: 4.5rem

      @media (max-width: $mobile-xs - 1)
        padding-right: 1.5rem


      a, button
        text-decoration: none
        font-size: 1.4rem


