.footer-bottom
  .cta.external-link::after
    background-image: url(../../images/ui/external-link-brand.svg)

  .cta.cta--link-simple.external-link:hover
    &::after
      background-image: url(../../images/ui/external-link-brand.svg)
  ul
    position: relative
    display: flex
    flex-wrap: wrap

    li
      position: relative
      margin-bottom: 2.4rem

      &:not(:last-child)
        margin-right: 6rem

      a
        > span
          text-transform: uppercase
          text-decoration: underline
          color: #FFF



