.socials
  display: flex
  align-items: center

  @media (min-width: $mobile)
    justify-content: flex-end

  li
    a
      display: inline-flex
      align-items: center
      justify-content: center
      border-radius: 4px
      transition: outline 0.2s ease

    svg
      width: 1rem
      height: 1rem
      max-width: 1rem
      max-height: 1rem
      scale: 1.5
      display: block
      fill: currentColor

    &:not(:first-child)
      margin-left: 2rem

  &.in-header
    li
      svg
        fill: $c-black
        path
          fill: $c-black
