.post
  position: relative
  display: flex
  flex: 1
  flex-direction: column
  justify-content: space-between
  align-items: flex-start
  margin-bottom: 5rem
  
  > div
    width: 100%
    display: block
    position: relative
  
  &__date
    display: flex
    justify-content: space-between
  
  &__image
    position: relative
    margin-bottom: 3.2rem

    &::after
      content: attr(data-label)
      position: absolute
      right: -1rem
      bottom: 1.8rem
      background-color: $c-brand
      color: #FFF
      font-size: 1.6rem
      font-family: $f-alternative
      font-weight: 700
      height: 4rem
      display: inline-flex
      align-items: center
      padding: 0 3.2rem

    + .post__date
      h4
        color: $c-gray-dark
        font-family: $f-alternative
        font-size: 1.4rem
        margin-bottom: 1.6rem
        letter-spacing: 0

  .cta
    margin-top: 0

.post-article
  margin-bottom: 4.4rem

  &__body
    padding-left: $section-gutter
    padding-right: $section-gutter

    @media (max-width: $mobile-xs)
      padding-left: $section-gutter-mobile
      padding-right: $section-gutter-mobile

  &__visual
    margin-bottom: 10rem

  .intro
    margin-bottom: 0

.post-bottom-cta
  margin-bottom: 14rem
  padding-left: $section-gutter
  padding-right: $section-gutter

  @media (max-width: $mobile-xs)
    padding-left: $section-gutter-mobile
    padding-right: $section-gutter-mobile