.menu-service

  ul
    position: relative
    display: flex
    flex-wrap: wrap

    li
      position: relative
      font-weight: 700
      color: $c-brand
      font-family: $f-alternative
      line-height: 1.2
      margin-bottom: 2rem

      &:not(:last-child)
        margin-right: 4rem
        
      a, button
        text-decoration: none
        font-size: 1.4rem